@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/brekpoints.scss";
@import "../../styles/animations.scss";

.Navigation {
  position: fixed;
  top: 0;
  width: 100%;
  font-family: $accent;
  font-weight: 500;
  transition: 0.5s ease-in-out;
  animation: appear-bottom 1.3s ease 2.8s forwards;
  z-index: 3;

  ul {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0 8px;
    list-style: none;

    @media screen and (min-width: $break-to-tablet) {
      width: 70%;
      margin: 0 auto;
    }

    li {
      padding: 0 0.35rem;
      border-bottom: 3px solid transparent;
      transition: 0.3s ease-in-out;

      @media screen and (min-width: $break-to-tablet) {
        padding: 0 7px;

        &:hover {
          border-bottom: 3px solid $white;
          
          a {
            padding: 35px 0 25px 0;
          }
        }
      }

      &:nth-child(1) {
        border-bottom: 0;
      }
    }

    a {
      display: block;
      padding: 15px 0;
      text-decoration: none;
      color: $white;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      @media screen and (min-width: $break-to-tablet) {
        padding: 30px 0;
      }
    }

    .scrollToLink {
      display: inline;
      border: none;
      padding: 15px 0;
      background: transparent;
      color: $white;
      font-family: $accent;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 1px;
      cursor: pointer;

      @media screen and (min-width: 426px) {
        padding: 30px 0;
      }
    }
  }

  .Logo {
    position: absolute;
    top: 0;
    left: 15px;
    letter-spacing: 1.5px;
  }

  &___scrolled {
    background: $light-black;
  }
}
