@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  src: local("Rawline Regular"),url("../public/fonts/rawline-400.woff") format("woff");
}

@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  src: local("Rawline Regular"),url("../public/fonts/rawline-500.woff") format("woff");
}

@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  src: local("Rawline Regular"),url("../public/fonts/rawline-600.woff") format("woff");
}

$main: "Open Sans", sans-serif;
$accent: "Rajdhani", sans-serif;
