@import "./fonts.scss";
@import "./brekpoints.scss";
@import "./colors.scss";
@import "../styles/animations.scss";

.Header {
  padding: 40vh 20px 0 20px;
  height: 55vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url(../public/images/hero-image.jpg);
  //    Photo by Sergey Zolkin on Unsplash
  background-size: cover;
  background-position: center;

  @media screen and (min-width: $break-to-tablet) {
    padding: 40vh calc(15% + 4px) 0 calc(15% + 4px);
  }

  &_textWrapper {
    margin-top: 0 20px;

    h1 {
      margin-bottom: 5px;
      font-size: 2.8rem;
      position: relative;
      animation: appear-left 1.3s ease 0.5s;
      animation-fill-mode: forwards;
      opacity: 0;
    }

    @media screen and (min-width: $break-to-tablet) {
      max-width: 390px;

      h1 {
        font-size: 4rem;
        margin-bottom: 10px;
      }
    }
    @media screen and (min-width: $break-to-desktop) {
      max-width: 600px;

      h1 {
        font-size: 6rem;
      }
    }
  }

  &_role {
    margin: 0 0 40px 4px;
    display: block;
    font-family: $accent;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    animation: appear-left 1.3s ease 1.3s;
    animation-fill-mode: forwards;
    opacity: 0;

    @media screen and (min-width: $break-to-tablet) {
      font-size: 1.5rem;
      margin: 0 0 70px 11px;
    }
  }

  &_heroButton {
    position: relative;
    margin-right: 5px;
    border: none;
    padding: 10px 15px;
    color: $white;
    background: rgba(0, 0, 0, 0.7);
    font-family: $accent;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    transition: 0.4s ease-in-out;
    animation: appear-bottom 1.1s linear 2s forwards;
    opacity: 0;
    z-index: 2;

    &:hover {
      color: $pure-black;
      background: transparent;
      cursor: pointer;
    }
  }

  &_heroButton:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
  }

  &_heroButton:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    color: var(--pure-black);
    background: #fff;
    transition: 0.4s ease-in-out;
  }
}
