@import "../../global/breakpoints.scss";

:host {
  display: block;
}

header {
  padding: 25vh 20px;
  text-shadow: 1px 1px var(--black);
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-attachment: local;

  h1 {
    margin: 0 0 20px 0;
  }

  p {
    padding:0 20px 20px 0;
  }

  @media screen and (min-width: $break-to-tablet) {
    padding: 20vh 0 0 15%;
    height: 30vh;
  }
  @media screen and (min-width: $break-to-desktop) {
    h1 {
      font-size: 3rem;
    }
  }
}
