@keyframes appear-left {
  0% {
    transform: translate(-50px);
    opacity: 0;
  }
  60% {
    transform: translate(5px);
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes appear-bottom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
