@import "../../global/breakpoints.scss";

footer {
  background: #fff;
  color: var(--pure-black);
  padding: 20vh 20px;
  position: relative;

  h2 {
    padding: 20px 0;
    color: var(--pure-black);
    max-width: 700px;
  }

  a {
    color: var(--red);
  }

  @media screen and (min-width: $break-to-tablet) {
    padding: 20vh calc(15% + 4px);
  }
}

.developer {
  position: absolute;
  left: 0;
  bottom: 0;

  p {
    font-size: 14px;
    color: #aaa;
    padding: 7px 20px;
    margin: 0 auto;
  }

  a {
    color: #aaa;

    &:hover {
      color: var(--red);
      text-decoration: none;
    }
  }
}

.skipLink {
  position: fixed;
  top: -30em;
  background: none;
  border: none;
  color: var(--red);
  font-size: 16px;

  &:focus {
    top: 0;
  }
}