.app-home {
  // padding: 10px;
}

button {
  color: var(--white);
  border: 2px solid var(--white);
  padding: 10px 20px;
  outline: 0;
  letter-spacing: 0.04em;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  color: var(--light-black);
  background: var(--white);
}
